body {
  background: linear-gradient(to right,#0968E5,#091970);
  /* animation: gradientBG 10s ease infinite; */
  color: #fff;
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 20px;
}

.hud {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin-bottom: 10px;
  font-size: 14px;
}

canvas {
  /* border: 3px solid #fff;
  background-color: #000; */
  background-color: #1e293b;
  border: 4px solid #3b82f6;
}

